# Data Frames

In [6]:
%config IPCompleter.greedy=True
import pandas as pd

In [7]:
dataFrame = pd.read_csv(
    "/Users/asierbelazaortega/Developer/Estadistica/r-basic-asier/data/bodyfat.txt"
     , delimiter=" ",
decimal=".",
encoding="utf-8")

In [8]:
dataFrame.iloc[[0]]
dataFrame[1:10]

dataFrame.Density

1      1.0708
2      1.0853
3      1.0414
4      1.0751
5      1.0340
        ...
248    1.0736
249    1.0236
250    1.0328
251    1.0399
252    1.0271
Name: Density, Length: 252, dtype: float64

# Creando un data frame

In [9]:
import numpy as np

df = pd.DataFrame({
    
    "A" : np.random.rand(10),
    "B" : np.random.rand(10),
    "C" : np.random.rand(10),
    
})

df.mean()

A    0.633237
B    0.428588
C    0.430945
dtype: float64

# Manipulando un data frame

In [10]:
df = pd.DataFrame({
    
    'Key': ["A", "B", "C", "A", "B", "C"],
    'value1': range(6),
    'value2': np.random.randint(0, 100,6)
    
})
df

  Key  value1  value2
0   A       0      68
1   B       1      89
2   C       2      82
3   A       3       7
4   B       4      27
5   C       5       6

In [11]:
df.groupby('Key').aggregate(['min', np.median, np.mean, max])

    value1                 value2
       min median mean max    min median  mean max
Key
A        0    1.5  1.5   3      7   37.5  37.5  68
B        1    2.5  2.5   4     27   58.0  58.0  89
C        2    3.5  3.5   5      6   44.0  44.0  82

# Filter

In [12]:
df.groupby('Key').fliter()

AttributeError: 'DataFrameGroupBy' object has no attribute 'fliter'

# Exportar a PNG

In [ ]:
years = [year for year in range (1900, 2020)]
deads = [(y + np.random.uniform(0,100) -1850) for y in years]

df = pd.DataFrame({
    
    "years": years,
    "deads": deads
    
})
df.plot(x = "years", y = "deads")